<h1>All Courses</h1>
<p><%= link_to 'New Course', new_course_path %></p>
<ul>
<% @courses.each do |course| %>
	<li><%= course.name %>
		<ul>
			<li><%= link_to 'Edit', edit_course_path(:id => course.id) %></li>
			<li><%= link_to 'Delete', course, method: :delete %></li>
			<li><%= link_to 'Manage Works', works_path(:courseid => course.id) %></li>
		</ul>
	</li>
<% end %>
</ul>